.awardinfo{
    position: relative;
    border-bottom: 1px solid black;
    margin: 0 0 20px 50px;
}

.awardname{
    padding: 0 0 0 0;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.awarddescription{
    padding: 0 0 0 0;
}

.awardeligibility{
    padding: 0 0 0 0;
}

.left{
    margin: 0 0 5px 0;
    float: left;
    width: 50%;
}

.right{
    margin: 0 0 5px 0;
    float: right;
    width: 50%;
}

.num-list{
    list-style: decimal;
    padding: 0 0 0 50px;
}

.num-list>li{
    padding: 0px 0 0 10px
}

.tile{
    background-color: black;
    height: 200px;
    float: left;
    width: 40%;
    min-width: 300px;
    margin: 0 2% 2% 0;
    text-align: center;
}

.tile >a{
    color: white;
    display: block;
    margin-top: 80px;
    font-size: 40px;
    font-family: 'TradeGothicLTStd-BdCn20', Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    line-height: 40px;
}