/*------------------------------------------------------------------
[Master Stylesheet]

Primary use:    Common.css file used for styling header, footer and
                common components across the student funding webpage
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Layout]

* body
    + Header / #navbar-header
    + Landing-Page-Wrapper / .landing-page-image-wrapper
        -Landing-Page-Image / .landing-page-image
    + Content / .content-wrapper
        - Buffer Space/ .buffer
        - Side Navigation bar / #navigation-bar
        - Main Content/ .main-content
    + Footer / #footer
        - Address/ address
        - Footer Navigation/ .footer-navigation
        - CopyRight Content/ #copyright-content
-------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a{
    color: #000000;
}

a:hover{
    color: #000000;
}

/* Adding custom fonts: TradeGothicLTStd-BdCn20, News Cycle, Public Sans*/

@font-face {
    font-family: 'TradeGothicLTStd-BdCn20';
    src: url('../assets/fonts/TradeGothicLTStd-BdCn20.ttf');
}

@font-face {
    font-family: 'News Cycle';
    src: url('../assets/fonts/news-cycle.regular.ttf');
}

@font-face {
    font-family: 'PublicSans';
    src: url('../assets/fonts/public-sans.regular.ttf');
}

address, address>a {
    color: #e4e4e4;
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    text-transform: none;
}

address>a:hover {
    color: #e4e4e4;
    text-decoration: underline;
}

.black-containers{
    background-color: black;
    height: 200px;
    float: left;
    width: 48%;
    min-width: 300px;
    margin: 2px;
    text-align: center;
}

.black-containers >a{
    color: white;
    display: block;
    margin-top: 80px;
    font-size: 40px;
    font-family: 'TradeGothicLTStd-BdCn20', Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    line-height: 40px;
}

.buffer {
    height: 100px;
    width: 100%;
}

.content-header {
    color: #000000;
    font-family: 'TradeGothicLTStd-BdCn20', Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
}

.content-wrapper {
    background: url('../assets/images/bkg-gray-pattern-tile.png');
    position: relative;
    top: 90px;
}

#copyright-content {
    text-transform: uppercase;
    color: #9d9d9d;
    border-top: 1px solid #464646;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
    margin-left: 360px;
    font-size: 12px;
    font-family: 'PublicSans', sans-serif;
}

#copyright-content>p {
    padding: 0px;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
}

#footer {
    background: #333333 url('../assets/images/mapimg_left.jpg') no-repeat left top;
    position: relative;
    top: 90px;
    padding: 20px;
    min-height: 360px;
}

#footer-content {
    margin-left: 360px;
    margin-top: 40px;
    display: flex;
}

.footer-logo-wrapper {
    height: 39px;
    width: 100%;
}

.footer-logo {
    max-width: 100%;
}

.footer-navigation-header {
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    padding: 0px;
    font-family: 'PublicSans', sans-serif;
}

.footer-navigation {
    list-style-type: none;
    font-family: 'PublicSans', sans-serif;
}

.footer-navigation>li {
    padding-bottom: 7px;
}

.footer-navigation>li>a {
    color: #DDDDDD;
    font-size: 16px;
    line-height: 24px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.page-banner-image-wrapper {
    position: relative;
    width: 100%;
    top: 90px;
}

.landing-page-image {
    width: 100%;
}

.main-content {
    color: #333333;
    font-size: 20px;
    font-family: 'News Cycle', Helvetica, Arial, sans-serif;
    line-height: 26px;
    padding-bottom: 30px;
}

  /* The dropdown container */
.dropdown {
    overflow: visible;
  }

  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    width: 100%;
    left: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }

.ualbany-logo-wrapper {
    height: 90px;
    width: 100%;
}

.ualbany-logo {
    margin-left: 20px;
    vertical-align: middle;
}

.major-award-image-col{
    background-color: #ffffff;
    border-width:2px;
    border-color:#000000;
}

.images-table{
    border-collapse: separate;
    border-color:#000000;
}

.home-banner-left-block{
    box-sizing: content-box;
    position: absolute;
    bottom: 7%;
    left:2%;
    color:  #edba32;;
    font-family: 'TradeGothicLTStd-BdCn20', Helvetica, Arial, sans-serif;
    background-color:rgba(0, 0, 0, 0.5);
    width: 450px;
}

.home-banner-text-block {
    box-sizing: content-box;
    position: absolute;
    bottom: 1%;
    left:1%;
    color:  #edba32;
    font-family: 'TradeGothicLTStd-BdCn20', Helvetica, Arial, sans-serif;
    max-width: 60%;
  }

  .home-banner-text-block > h2 {
    padding-top: 10px;
    padding-left: 10px;
    text-shadow: 3px 1px 2px black;
  }

  .home-banner-text-block > p {
    padding-left: 10px;
    color: white;
    text-shadow: 3px 1px 2px black;
  }

  .home-banner-image-block {
    float: right;
    width: 65%;
    height: 100%;
  }

  .home-banner-image-block > img{
    float: right;
    padding: 0px,0px,0px,0px;
    width: inherit;
    height: inherit;
  }

.image-blocks{
    float: right;
    position: relative;
    padding: 0 0 0 10px;
}

.image-block{
    float: left;
    position: relative;
    padding: 0 0 0 1px;
}

.image-block > img{
    zoom: 50%;
}

.image-title-block {
    box-sizing: content-box;
    position: absolute;
    bottom: 0px;
    left:5px;
    color:#edba32;
    background-color:rgba(0, 0, 0, 0.5);
    font-family: 'TradeGothicLTStd-BdCn20', Helvetica, Arial, sans-serif;
    max-width: 80%;
    font-size: 70%
  }

  .image-title-block > h5 {
    padding: 5px 5px 0px 5px;
    margin-bottom: 0px;
    text-shadow: 3px 1px 2px black;
    font-size: 110%;
  }

  .image-title-block > p {
    padding-left: 5px;
    color: white;
    margin-bottom: 5px;
    text-shadow: 3px 1px 2px black;
    line-height: 12px;
  }

.dot-list{
    list-style: disc;
    padding: 0 0 0 50px;
    list-style-position: inside;
}

.check-list{
    list-style:none;
    padding: 0 0 0 50px;
    list-style-position: inside;
}

.check-list>li{
    padding: 10px 0 0 20px
}

.check-list>li:before {
    content: "✓  ";
    font-weight: bold;
    color: #000000;
}

.num-list{
    list-style: decimal;
    padding: 0 0 0 90px;
}

.num-list>li{
    padding: 0px 0 0 20px
}

.major-award-info{
    width: 30%;
    margin: 0 0 0 10%;
}

.major-award-info > .card{
    vertical-align: middle;
}

.major-award-info > ul{
    list-style-position: inside;
}

.major-award-info > p{
   padding-left: 0px;
}

 .tab{
    overflow: hidden;
    padding: 0 0 0 50px;
    width: 100%;
    border-bottom: 1px solid #45166a; 
    text-shadow: 1px 1px 1px black;
  }

  .tab>a{
    background: #46166b;
    float: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    margin: 0 5px 0 0;
    border-radius: 8px 8px 0 0;
    width: 160px;
    height:50px;
    color:#edba32;;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border: 1px solid #46166b;
    border-bottom: none;
    font-weight: bold;
    line-height: 18px;
  }

  .tab > a:hover{
    background: #582183;
    color:white;
    text-decoration: none;
  }

  #tab-selected {
    background:#edba32;
    color:black;
    font-weight: bold;
    text-shadow: none;
  }

  .tabcontent{
      padding: 20px 0 0 0;
      height:80%;
      border: 1px solid #45166a; 
      box-sizing: content-box;
      border-image:linear-gradient(
      to bottom, 
      #45166a, 
      #00000000
    ) 1 100%;
  }
  
#ellipse-menu{
    position:relative;
    margin: auto;
    width: 600px;
    height: 300px;
    overflow: visible;
}

.ellispe-style{
    fill:transparent;
    stroke:#000000;
    stroke-width:5;
}

.svg-ellipse{
    overflow: visible;
}

.ellipse-menu-button{
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: medium;
    font-family: 'TradeGothicLTStd-BdCn20', Helvetica, Arial, sans-serif;
    display: inline-block;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    width: 200px;
    height: 50px;
    text-shadow: 3px 1px 2px black;
    line-height: 18px;
    outline: none;
}

.ellipse-menu-button:focus{
   outline: none;
}

.clicked {
    color: black;
    background-color: #edba32;
    text-shadow:none;
    font-weight: bold;
    border: 1px solid black;
}

#embutton1{
    position:absolute; 
    left:210px; 
    top: -5px;
}

#embutton2{
    position:absolute; 
    left:540px;
    top: 60px;
}

#embutton3{
    position:absolute; 
    left:540px; 
    top: 190px;
}

#embutton4{
    position:absolute; 
    left:210px; 
    top: 255px;
}

#embutton5{
    position:absolute; 
    left:-140px; 
    top:190px;
}

#embutton6{
    position:absolute; 
    left:-140px; 
    top: 60px;
}

#ellipse-item-desc{
    position: relative;
    top: -45px;
    left: 0px;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.road-map-menu{
    position:relative;
    width: 100%;
    margin: auto;
    overflow-y: visible;
    height: 300px;
}

.road-map-menu > .purple-road{
    position: relative; 
    top:-100px;
    height: 700px;
    width: 100%;
}

.road-map-menu-button{
    background-color: #45166a;
    color: #edba32;
    text-align: center;
    font-size: medium;
    font-family: 'TradeGothicLTStd-BdCn20', Helvetica, Arial, sans-serif;
    display: inline-block;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    width: 200px;
    height: 50px;
    text-shadow: 3px 1px 2px black;
    line-height: 1.2;
    vertical-align: middle;
}

.road-map-menu-button:hover{
    background-color: #8345b3;
    color: white;
    text-decoration: none;
    text-shadow: none;
    border: 1px solid black;
}

#rmbutton1{
    position:absolute;
    left: 39%; 
    top: 40%;
    width: 18%;
    z-index: 6;
}

.road-map-button-font{
    color: #000000;
    font-weight: bold;
    font-size: 1.1vw;
    line-height: 1.2vw;
}

#road-map-menu-button1{
    position:absolute;
    left: 43%; 
    top: 52%;
    z-index: 6;
}

#rmbutton2{
    position:absolute; 
    left: 78%; 
    top: -1%;
    width: 16%;
    z-index: 5;
}

#road-map-menu-button2{
    position:absolute;
    left: 79%; 
    top: 8%;
    z-index: 5;
}

#rmbutton3{
    position:absolute; 
    left: 20%; 
    top: -2%;
    width: 15%;
    z-index: 4;
}

#road-map-menu-button3{
    position:absolute;
    left: 22%; 
    top: 7%;
    z-index: 4;
}

#rmbutton4{
    position:absolute; 
    left: 45%; 
    top: -20%;
    width: 13%;
    z-index: 3;
}

#road-map-menu-button4{
    position:absolute;
    left: 46%; 
    top: -18%;
    z-index: 3;
}

#rmbutton5{
    position:absolute; 
    left: 6%; 
    top: -20%;
    width: 10%;
    z-index: 2;
}

#road-map-menu-button5{
    position:absolute;
    left: 7%; 
    top: -18%;
    z-index: 2;
}

.justify-text{
    text-align: justify;
}

.spanpurple{
    color:#46166b;
}

.spanpurplebold{/**Change class name*/
    color:#000000;
    font-weight: bold;
}

.spanunderline{
    text-decoration: underline;
}

.spanbold{
    font-weight: bold;
}

.card{
    width: 75%;
    margin: 0 20px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: none;
}

.card>a>img{
    width: 100%;
    padding: 20px;
}

.researchadmins{
    width: 100%;
}

.admin-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.admin-info{
    text-align: center;
    padding: 20px;
}

.title{
    color: black;
}

.email{
   font-style: italic;
}

.email::before{
    content: "Email: ";
    font-style:normal;
    font-weight: bold;
    text-decoration: none;
}

.main-content> #search-box{
    background-color: #F9F9F9;
    height: 40px;
    border: 1px solid #B9B9B9;
    border-radius: 1%;
    font-size: 20px;
    padding: 5px 0px 10px 2px;
}

.main-content>#search-box-results{
    display: block;
}

#search-button{
    height: 40px;
    width: 40px;
    background-color: #000000;
    color: white;
    position: relative;
    top: 1px;
    left: -1px;
}

.departments{
    display: none;
}

table, tr, th,td{
    padding: 10px;
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    .main-content {
        padding-top: 20px;
    }
    .main-content> #search-box{       
        margin-bottom: 5px;
        width: 80%;
    }   
    .main-content>#search-box-results{
        margin-bottom: 30px;
    }

    .home-banner-left-block{
        transform: scale(0.5);
        bottom: 0.1%;
        left: 0.1%;
    }
     #ellipse-menu{
        transform: scale(0.5);
     }
}

@media only screen and (min-width: 768px) {
    #navigation-bar {
        margin-left: 50px;
    }
    .main-content>h1, h2, h3, h4, h5, h6, p, .row {
        padding-left: 50px;
    }
    .main-content>.row{
        margin: 0px 0px 0px 0px;
    }
    .main-content> #search-box{       
        margin: 0px 0px 5px 50px;
        width: 255px;
    }
    .main-content>#search-box-results{
        margin: 0px 0px 20px 50px;
    }
}

@media only screen and (min-width: 992px) {
    #navigation-bar {
        margin-left: 75px;
    }
    .main-content> #search-box{       
        width: 510px;
    }
    .home-banner-left-block{
        transform: scale(0.9);
        bottom: 2%;
        left: 0.1%;
    }
    #ellipse-menu{
        transform: scale(0.75);
    }
}

@media only screen and (min-width: 1200px) {
    #navigation-bar {
        margin-left: 100px;
    }

    .home-banner-left-block{
        transform: scale(1.0);
        bottom: 7%;
        left: 2%;
    }

    #ellipse-menu{
        transform: scale(1.0);
    }
}

@media only screen and (min-width: 2000px) {

    .home-banner-left-block{
        transform: scale(1.5);
        bottom: 10%;
        left: 6%;
    }

    #ellipse-menu{
        transform: scaleX(1.5)
    }
}


@media only screen and (max-width: 985px) {
    #footer {
        background: #333333 url('../assets/images/mapimg.jpg') no-repeat center top;
    }
    #footer-content {
        margin-top: 334px;
        margin-left: 0px;
    }
    #copyright-content {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 2100px) {

    #road-map-menu-button1{
        left: 44%; 
        top: 78%;
    }
    
    #road-map-menu-button2{
        left: 68%; 
        top: 10%;
    }

    #road-map-menu-button3{
        left: 14%; 
        top: 9%;
    }
    
    #road-map-menu-button4{
        left: 32%; 
        top: -21%;
    }
    
    #road-map-menu-button5{
        left: 6%; 
        top: -26%;
    }
    #rmbutton1{
        left: 39%; 
        top: 65%;
    }
    
    #rmbutton2{
        left: 65%; 
        top: 0%;
    }
    
    #rmbutton3{ 
        left: 11%; 
        top: -1%;
    }
    
    #rmbutton4{
        left: 30%; 
        top: -25%;
    }
    
    #rmbutton5{
        left: 5%; 
        top: -30%;
    }
    
}

@media only screen and (max-width: 1700px) {
    #road-map-menu-button1{
        left: 46%; 
        top: 83%;
    }
    
    #road-map-menu-button2{
        left: 76%; 
        top: 33%;
    }

    #road-map-menu-button3{
        left: 21%; 
        top: 29%;
    }
    
    #road-map-menu-button4{
        left: 31%; 
        top: -13%;
    }
    
    #road-map-menu-button5{
        left: 6%; 
        top: -26%;
    }
    #rmbutton1{
        left: 41%; 
        top: 73%;
    }
    
    #rmbutton2{
        left: 74%; 
        top: 25%;
    }
    
    #rmbutton3{
        left: 19%; 
        top: 22%;
    }
    
    #rmbutton4{
        position:absolute; 
        left: 29%; 
        top: -15%;
        width: 13%;
    }
    
    #rmbutton5{
        left: 5%; 
        top: -29%;
    }   
}

@media only screen and (max-width: 1300px) {
    .road-map-button-font{
        font-size: 1.7vw;
        line-height: 1.8vw;
    }

    #road-map-menu-button1{
        left: 38%; 
        top: 93%;
    }
    
    #road-map-menu-button2{
        left: 78%; 
        top: 34%;
    }

    #road-map-menu-button3{
        left: 19%; 
        top: 25%;
    }
    
    #road-map-menu-button4{
        left: 32%; 
        top: -9%;
    }
    
    #road-map-menu-button5{
        left: 1%; 
        top: -21%;
    }
    #rmbutton1{
        left: 32%; 
        top: 85%;
        width: 24%;
    }
    
    #rmbutton2{
        left: 75%; 
        top: 25%;
        width: 24%;
    }
    
    #rmbutton3{
        left: 16%; 
        top: 16%;
        width: 22%;
    }
    
    #rmbutton4{
        position:absolute; 
        left: 31%; 
        top: -9%;
        width: 17%;
    }
    
    #rmbutton5{
        left: 0%; 
        top: -23%;
        width: 15%
    }   
}

