.no-padding-left{
    padding-left: 0px;
}

.event-box{
    display: block;
    width: 100%;
    background: transparent;
    border: 1px solid black;
    box-shadow: 2px 2px 12px black;
    margin-top: 15px;
}

.event-title{
    color: black;
    display: block;
    width: 100%;
    background: #edba32;
    padding: 15px;
    text-align: left;
}

.event-info{
    color:black;
    margin-left: 15px;
    display: block;
}

.register-button{
    display: block;
    width: 30%;
    background-color: #382804;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2%;
    margin-bottom: 15px;
    margin-left: 15px;
}