.no-padding-left{
    padding-left: 0px;
}

.event-box{
    display: block;
    width: 100%;
    background: transparent;
    border: 1px solid black;
    box-shadow: 2px 2px 12px black;
    margin-top: 15px;
}

.event-box > button:focus{
    outline: none;
}

.event-title{
    color: white;
    display: block;
    width: 100%;
    background: #45166a;
    padding: 10px;
    text-align: left;
}

.event-info{
    color:black;
    margin-left: 15px;
    display: block;
}

.register-button{
    display: block;
    width: 30%;
    background-color: #46166b;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2%;
    margin-bottom: 15px;
}

.register-button:hover{
    background-color:#edba32;
    color: black;
    text-shadow:none;
    text-decoration: none;
}

.title_text{
    width: 80%;
    float: left;
}

.title_icon{
    width: 20%;
    height: auto;
    float: right;
}
